<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611302254878-me1o48ce23459rrp8ikhd0bcsuugqm7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611302254878-me1o48ce23459rrp8ikhd0bcsuugqm7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAJtzcyUfwE44PPoNmwQfNKXMzK76RaSEM</string>
	<key>GCM_SENDER_ID</key>
	<string>611302254878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.foody</string>
	<key>PROJECT_ID</key>
	<string>foodtracker-bda8f</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtracker-bda8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611302254878:ios:cacd3310e28c882a7e410f</string>
	<key>DATABASE_URL</key>
	<string>https://foodtracker-bda8f-default-rtdb.firebaseio.com</string>
</dict>
</plist>