rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /products/{id} {
      allow read, write: if true;
    }
  }
}
